.content {
  padding: 20px;
  max-width: 900px;
  margin: auto;

  @media screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 150px;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 25px;
  }

  & .container {
    flex-direction: column;
    align-items: center;
  }
}
